<main class="main">

  <form action="" class="main__form js_form">
    <input class="main__form__userText js_userText" type="text" placeholder="Busca tu serie">
    <input class="main__form__searchButton js_searchButton" type="button" value="Buscar">
  </form>
  <section class="main__lists js_list">
    <div class="list">
      <h2 class="main__title js_listFavoriteTitle"></h2>
      <ul class="list__films list__favorites js_favoriteList">
      </ul>
    </div>
    <div class="list">
      <h2 class="main__title js_listTitle"></h2>
      <ul class="list__films list__search js_filmList">
      </ul>
    </div>

  </section>
</main>