.main {
  &__title {
    font-family: $font-family;
    font-size: 30px;
    text-align: center;
  }
  &__lists {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  &__form {
    text-align: center;
    margin: 10px;
    &__userText {
      font-size: 20px;
    }
    &__searchButton {
      font-size: 20px;
    }
  }
}
.list {
  padding: 20px;
  &__films {
    padding: 0;
  }
}
.film {
  list-style-type: none;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-family;
  font-size: 30px;
  padding: 10px;
  &__title {
    margin: 10px 0;

    text-align: center;
  }
  &__selected {
    background-color: rgb(202, 30, 202);
    font-family: $font-family-selected;
    font-size: 20px;
  }
}
